@{
    ViewData["Title"] = "Home Page";
}

<h1 class="heading-theme text-center text-lg-center text-md-center">Welcome to Home of Church Related Movies LDS Movie Center</h1>
<div class="d-flex justify-content-center">
    <img class="img-thumbnail " src="~/latter-day-saints.png" style="width:500px;">
</div>
<p class="heading-theme text-center text-lg-center text-md-center"> This is the right place where you can find Church related movies for the members of The Church of Jesus Christ of Latterday Saints which can bring you closer to Heavenly Father.   </p>